# Конфиги и секреты
.env
*.ini
*.cfg
config/local_*.json

# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
.python-version

# Данные и кеш
data/processed/
*.parquet
*.csv

# Виртуальное окружение
.venv/
venv/